<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
    <div class="wrapper">
            <ul>
                <li><a class="active" href="/home">Home</a></li>
                <li><a href="/vis_1">1</a></li>
                <li><a href="/vis_2">2</a></li>
                <li><a href="/vis_3">3</a></li>
              </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>
            Project 2
          </h1>
          <p>
            The "Plague Programmers" group has taken the NYT database that tracks every known US Covid-19 case and death, and broken down (analyzed) this data by state and date. 
          </p>
          <p>Click on any of the images to be taken to a dynamic, filterable graph.</p>
        </div>
        <div class="col">
          <a href="/vis_3">
            <h1>
              Deaths per State
            </h1>
            <img src="https://nnasse.canto.com/direct/image/1f5c2tgdoh3e5c5kiv4a41dt46/2hLeKhxiGGHa9seqFA1lhYN1GOY/original?content-type=image%2Fpng&name=deaths_month.png">
          </a>        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/vis_2">
            <h1>
              Cases per Date
            </h1>
            <img src="https://nnasse.canto.com/direct/image/oo1srpoe697d5ej7q90btbb93b/QgWHhJ2TlsD9WhGc_QihxQ647HI/original?content-type=image%2Fpng&name=cases_state.png">
          </a>
        </div>
        <div class="col">
          <a href="/vis_1">
            <h1>
              Deaths per Month
            </h1>
            <img src="https://nnasse.canto.com/direct/image/n8o02vta0p5mt352ajs3c5h86i/o6PCNRSaXmszRCMhC6braZgroLo/original?content-type=image%2Fpng&name=deaths_state.png">
          </a>
        </div>
      </div>
      </div>

  <!-- Footer-->
  <div id="footer">
    <p>Plague Programmers &copy;2020</p>
  </div>
  <!-- <script type="text/javascript" src="assets/js/app.js"></script>-->

</body>

</html>
